.git
.gitignore
.env
node_modules
vendor
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/logs/**
storage/app/**
tests
phpunit.xml
README.md
docker-compose.yml
Dockerfile
.dockerignore
.idea
.vscode
*.log 